#content {
    max-width: 20cm;
}

/* Configuration des petits cadres colorés  */

.tdaction, .tdastuce, .tdreponse, .objectif {
    border-radius: 15px;
    padding-left: 5px;
    padding-bottom: 2px;
    margin: 2px;    
}
.tdaction:before, .tdastuce:before, .tdreponse:before {
    margin: 2em;
    font-weight: bold;
}
.tdaction .example, .tdastuce .example, .tdreponse .example {
    background: white;
}

/* Couleurs */

.tdaction {
    background: #ff8080; /* red is a bit harsh */
}

.tdastuce {
    background: lightgreen;
}
.tdreponse {
    background: lightgrey;
}
.objectif {
    background: lightgrey;
}

/* En tête */

.tdastuce:before {
    content: "Astuce";
}
.tdaction:before {
    content: "Action";
}
.tdreponse:before {
    content: "Réponse (cliquez pour afficher/cacher)";
}
.objectif:before {
    content: "Objectifs";
}
